* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: #ecf2f8;
}

#card {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 50px #9eafc2;
          box-shadow: 0px 0px 50px #9eafc2;
  background-color: white;
}

#card #hero {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

#card #hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#card #content {
  width: 85%;
  margin: 25px 0px;
}

#card #content #cardTitle {
  margin-bottom: 12px;
  font-size: 1.3em;
  color: #48556a;
  line-height: 1.5em;
}

#card #content #cardDescription {
  color: #6d7f97;
  line-height: 1.5em;
}

#card #contact {
  width: 85%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: font-size width height;
  transition-property: font-size width height;
  position: relative;
}

#card #contact #popover {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #48556a;
  position: absolute;
  top: -175%;
  right: -36%;
  display: none;
}

#card #contact #popover #popText {
  margin: 15px 7px 15px 20px;
  letter-spacing: 0.5em;
  color: #9eafc2;
}

#card #contact #popover #popSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#card #contact #popover #popSocial .brands {
  width: 25px;
  height: 25px;
  margin: 15px 7px;
  -webkit-transition-property: width height;
  transition-property: width height;
}

#card #contact #popover #popSocial .brands img {
  width: 20px;
  height: 20px;
  -webkit-transition-property: width height;
  transition-property: width height;
}

#card #contact #popover #popSocial .brands img:hover {
  -webkit-transition-property: width height;
  transition-property: width height;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 25px;
  height: 25px;
}

#card #contact #popover #popSocial #pinterest {
  margin-right: 13px;
}

#card #contact #popover .colita {
  border: 15px solid;
  border-top-color: #48556a;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  bottom: -30px;
  left: calc(50%-15px);
}

#card #contact #avatar {
  width: 40px;
  height: 40px;
  border-radius: 80px;
  margin-right: 15px;
  overflow: hidden;
}

#card #contact #avatar img {
  width: 100%;
}

#card #contact #avatarND #avatarName {
  color: #48556a;
  font-weight: 700;
}

#card #contact #avatarND #avatarDate {
  color: #9eafc2;
}

#card #contact #shareIcon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  margin-left: auto;
  background-color: #ecf2f8;
  cursor: pointer;
}

#card #contact #shareIcon img {
  width: 70%;
}

#card #contact #shareIcon:hover {
  width: 35px;
  height: 35px;
}

#card #contact #shareIcon:active {
  width: 30px;
  height: 30px;
}

#card #contact:hover {
  -webkit-transition-property: font-size width height;
  transition-property: font-size width height;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  width: 88%;
  font-size: 1.05em;
}

#card #sharePannel {
  width: 100%;
  height: 60px;
  padding: 0px 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #48556a;
  display: none;
}

#card #sharePannel #shareText {
  margin-right: 13px;
  letter-spacing: 0.5em;
  color: #9eafc2;
}

#card #sharePannel #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#card #sharePannel .brands {
  width: 25px;
  height: 25px;
  margin-right: 13px;
  -webkit-transition-property: width height;
  transition-property: width height;
}

#card #sharePannel .brands img {
  width: 20px;
  height: 20px;
  -webkit-transition-property: width height;
  transition-property: width height;
}

#card #sharePannel .brands img:hover {
  -webkit-transition-property: width height;
  transition-property: width height;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 25px;
  height: 25px;
}

#card #sharePannel #shareIcon2 {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  margin-left: auto;
  cursor: pointer;
}

#card #sharePannel #shareIcon2 img {
  width: 70%;
  -webkit-transition-property: width height;
  transition-property: width height;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#card #sharePannel #shareIcon2:hover {
  -webkit-transition-property: width height;
  transition-property: width height;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 35px;
  height: 35px;
}

#card #sharePannel #shareIcon2:active {
  width: 30px;
  height: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5px;
  color: #6d7f97;
}

.attribution a {
  color: #48556a;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */